{% extends 'base.html.twig' %}

{% block header %}{% endblock %}

{% block main %}
 <div class="root_container"> 
    <h1>Bienvenu dans la page chere admin </h1>
    <h2>Ajout d'une pizza : </h2>
    {{ form(form) }}
</div>
{% endblock %}